@import "tailwindcss";

input,
textarea,
select {
  border-radius: theme("borderRadius.md");
  border-color: theme("colors.gray.400");
  padding: theme("spacing.0") theme("spacing.3");
  border-width: theme("borderWidth.2");
  margin-bottom: theme("spacing.2");
  width: theme("width.full");
}

/* Вы также можете стилизовать состояния */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: theme("colors.blue.900");
  box-shadow: 0 0 0 2px theme("colors.blue.400");
}

label {
  color: theme("colors.blue.900");
}

.btn-primary {
  background-color: theme("colors.blue.900");
  color: white;
  padding: theme("spacing.1") theme("spacing.4");
  border-radius: theme("borderRadius.md");
  align-self: flex-start;
}

.btn-default {
  background-color: theme("colors.gray.500");
  color: white;
}

.btn-red {
  background-color: theme("colors.red.800");
  color: white;
}

.btn-default,
.btn-red {
  padding: theme("spacing.1") theme("spacing.4");
  border-radius: theme("borderRadius.md");
}

.color-primary {
  color: #5542f6;
}

table.basic {
  @apply w-full rounded-sm bg-white shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply border-b border-gray-200 px-4 py-2 text-sm text-gray-600 uppercase;
}

table.basic tr td {
  @apply px-4 py-1;
}

table.basic a {
  @apply mx-1 inline-flex items-center gap-1 rounded-sm px-4 py-1 text-sm;
}
